{block content}
    <h1 class="display-1">Todo App</h1>

    <div class="row">
        <div class="col">
            {form todoForm class => "form-inline"}
                <div class="form-group">
                    {input text placeholder => "Akú úlohu by si chcel urobiť?", class => "form-control"}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Pridaj úlohu</button>
                </div>
            {/form}

            <ul class="list-group">
                {foreach $todoItems as $item}
                    <li n:class="list-group-item, d-flex, justify-content-between, align-items-center, $item->isDone() ? list-group-item-secondary">
                        <s n:tag-if="$item->isDone()">
                            {$item->getText()}
                        </s>
                        <span class="badge badge-primary">{$item->getCreatedAt()->format('Y-m-d H:i:s')}</span>
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
{/block}
